:root {
    --background: hsl(0, 0%, 8%);

    --color-hue: 199;
    --color-saturation: 80%;
    --color-lightness: 70%;

    --primary-color: hsl(var(--color-hue), var(--color-saturation), var(--color-lightness));
    --primary-color-lighted: hsl(var(--color-hue), calc(var(--color-saturation) + 10%), calc(var(--color-lightness) + 15%));
    --primary-color-more-lighted: hsl(var(--color-hue), calc(var(--color-saturation) + 10%), calc(var(--color-lightness) + 20%));
    --primary-color-transparent-15: hsla(var(--color-hue), var(--color-saturation), var(--color-lightness), 15%);
    --primary-color-transparent-25: hsla(var(--color-hue), var(--color-saturation), var(--color-lightness), 25%);
    --primary-color-transparent-30: hsla(var(--color-hue), var(--color-saturation), var(--color-lightness), 30%);
    --primary-color-transparent-50: hsla(var(--color-hue), var(--color-saturation), var(--color-lightness), 50%);
    --box-shadow: hsl(calc(var(--color-hue) + 20), var(--color-saturation), var(--color-lightness));

    /* --secondary-color: hsl(var(--color-hue), var(--color-saturation), calc(var(--color-lightness) - 20%)); */
    --secondary-color: hsl(0, 0%, 77%);
    --secondary-color-lighted: hsl(0, 0%, 88%);
    --secondary-color-transparent-20: hsla(0, 0%, 77%, 20%);
    --secondary-color-transparent-40: hsla(0, 0%, 77%, 40%);

    --vote-indicator-voted: hsl(68, 100%, 72%);
    --vote-indicator-shadow: hsl(130, 80%, 55%);
    --error-red: hsl(7, 65%, 56%);

    --border-radius: 0.4rem;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}

html {
    font-size: 20px;
    /* font-size: max(1.4vw, 15px) */
}

#root {
    background-color: var(--background);
    font-family: Aldrich, sans-serif;
    color: var(--primary-color);
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "left-sidebar header header-right"
        "left-sidebar main right-sidebar";
    gap: 1rem 1rem;
    width: 100%;
    height: 100%;
}

header {
    grid-area: header;
    justify-self: center;
    height: 100%;
    padding-top: 0.5rem;
    position: relative;
}

nav {
    grid-area: header-right;
    padding-right: 0.5rem;
}

main {
    grid-area: main;
    justify-self: center;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main>* {
    margin-bottom: 1rem;
}

aside.participants {
    grid-area: left-sidebar;
    position: relative;
}

#logo {
    fill: var(--primary-color);
    width: 3rem;
    height: 3rem;
}

.larger-text {
    font-size: 1.3rem;
}

.stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--primary-color-transparent-50);
}

button,
input {
    font-family: inherit;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--primary-color-transparent-15);
    border: 0.1rem solid var(--primary-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: box-shadow 0.2s, border 0.2s, color 0.2s, background-color 0.2s;
    box-sizing: border-box;
}

button:hover {
    background-color: var(--primary-color-transparent-25);
}

button:active {
    background-color: var(--primary-color-transparent-50);
    border: 0.1rem solid var(--primary-color-lighted);
    box-shadow: 0 0 0.5rem 0.1rem var(--box-shadow);
    color: var(--primary-color-more-lighted);
}

input[type=text] {
    cursor: text;
    background-color: transparent;
    width: 10rem;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input::placeholder {
    color: var(--primary-color-transparent-30);
    font-size: 1.3rem;
}

input:focus {
    outline: none;
}

.poker-btns {
    width: 100%;
    height: 11.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 2rem;
}

.pi-chart {
    width: 11.5rem;
    height: 11.5rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    background-color: var(--secondary-color-transparent-20);
}

.poker-btn {
    font-size: 1.3rem;
    width: 3.5rem;
    height: 3.5rem;
    padding-top: 0.28rem;
    border: none;
}

.poker-btn:active {
    /* border: none; */
    border: 0.1rem solid var(--primary-color-lighted);
}

.selected {
    background-color: var(--primary-color-transparent-50);
    border: 0.1rem solid var(--primary-color-lighted);
    box-shadow: 0 0 0.5rem 0.1rem var(--box-shadow);
    color: var(--primary-color-more-lighted);
    pointer-events: none;
}

.control-btns {
    display: flex;
    justify-content: center;
}

.usual-btn,
.usual-input {
    font-size: 1.3rem;
    height: 2rem;
    padding: 0 0.35rem;
}

.big-btn,
.big-input {
    font-size: 1.5rem;
    height: 2.25rem;
    padding: 0 0.4rem;
}

.btn-on-input {
    position: relative;
    left: -0.7rem;
}

.copy-link {
    font-size: 0.9rem;
    color: var(--primary-color-transparent-30);
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-btn {
    border: none;
    background: none;
    box-shadow: none;
}

.svg-btn:hover {
    background: none;
}

.svg-btn:active {
    border: none;
    background: none;
    box-shadow: none;
}

.svg-btn svg {
    /* width: 1.7rem; */
    height: 1.7rem;
    fill: var(--primary-color);
}

.cross {
    display: none;
}

.close-btn .cross {
    display: inline;
}

.close-btn .switch {
    display: none;
}

.svg-btn:hover svg {
    fill: var(--primary-color-lighted);
}

.svg-btn:active svg {
    stroke: var(--primary-color-lighted);
    stroke-width: 0.02rem;
}

#copy-link-btn {
    margin-right: 0.5rem;
}

.title {
    height: 5vh;
    min-height: 1.8rem;
    font-size: 1.2rem;
    background-color: var(--secondary-color-transparent-20);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.vote-counter {
    color: var(--secondary-color);
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.scrollable-col {
    height: 95vh;
    overflow-y: auto;
    font-size: 0.85rem;
}

.participant {
    display: flex;
    height: 1.7rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.vote-indicator {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: var(--secondary-color-transparent-20);
    transition: background-color 0.3s, box-shadow 0.5s;
}

.voted {
    background-color: var(--vote-indicator-voted);
    box-shadow: 0 0 0.3rem 0.2rem var(--vote-indicator-shadow);
}

/* TODO delete later: it's here just for testing the transition */
.vote-indicator:hover {
    background-color: var(--vote-indicator-voted);
    box-shadow: 0 0 0.3rem 0.1rem var(--vote-indicator-shadow);
}

.participant-name {
    max-width: 80%;
    min-width: 15rem;
    padding-left: 0.3rem;
    padding-top: 0.15rem;
    line-height: 1.1rem;
    color: var(--secondary-color);
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.7rem;
}

.result {
    width: 2.5rem;
    text-align: right;
    font-size: 0.9rem;
    padding-top: 0.15rem;
    line-height: 1.1rem;
    color: var(--secondary-color);
}

.error-message {
    width: 100%;
    color: var(--error-red);
    border: 0.1rem solid var(--error-red);
    border-radius: var(--border-radius);
    padding: 0.5rem;
}

.progressbar {
    background-color: var(--secondary-color-transparent-40);
    height: 100%;
    position: absolute;
    transition: width 1s;
    left: 0;
}

.settings {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    align-items: flex-end;
}

.menu {
    background-color: var(--background);
    border: 0.1rem solid var(--secondary-color);
    border-radius: var(--border-radius);
    color: var(--secondary-color);
    min-width: 11rem;
    display: block;
}

.menu .menu-item {
    padding: 0.3rem;
    line-height: 1.3rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.menu .menu-item:hover {
    background-color: var(--secondary-color-transparent-20);
    color: var(--secondary-color-lighted);
}

.collapsible {
    display: none;
    position: absolute;
    top: 2.6rem;
}

#collapsible-menu.opened {
    display: block;
}

#show-participants-btn {
    display: none;
}

#relativeSVG-fart {
    position: absolute;
    left: -1.3rem;
    top: 1.8rem;
}

.fart {
    opacity: 0;
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
    fill: var(--primary-color);
}

.fart-cloud {
    fill: var(--primary-color-transparent-25);
}

@media (max-width: 320px) {
    .error-message {
        width: 90%;
        font-size: 0.9rem;
    }
}

@media (max-width: 705px) {
    body {
        gap: 1rem 0;
    }

    #logo {
        width: 2.5rem;
        height: 2.5rem;
    }

    #relativeSVG-fart {
        position: absolute;
        left: -1.3rem;
        top: 1.5rem;
    }

    aside.participants {
        grid-area: header;
        max-width: 30%;
        padding-top: 0.5rem;
    }

    #show-participants-btn {
        display: inline;
    }

    #collapsible-participants-list.opened {
        display: block;
        background-color: var(--background);
        border: 0.1rem solid var(--secondary-color);
        border-radius: var(--border-radius);
        height: calc(95vh - 2.6rem);
        cursor: text;
    }

    .participant {
        height: 1.3rem;
        padding-left: 0.3rem;
    }

    .participant-name {
        font-size: 0.6rem;
        padding-left: 0.4rem;
        min-width: 12rem;
        max-width: 12rem;
    }

    .result {
        width: 1.5rem;
        font-size: 0.7rem;
        line-height: 1rem;
    }

    .vote-indicator {
        width: 0.4rem;
        height: 0.4rem;
    }

    .voted {
        box-shadow: 0 0 0.2rem 0.1rem var(--vote-indicator-shadow);
    }

    .title {
        display: none;
    }

    .progressbar {
        display: none;
    }

    .vote-counter {
        display: inline;
        font-size: 0.65rem;
        background-color: var(--secondary-color-transparent-20);
        border-radius: var(--border-radius);
        padding: 0.2rem 0.2rem 0rem 0.2rem;
        margin: 0 0 0 0.5rem;
        max-width: 50%;
        overflow-y: hidden;
        position: static;
        transform: none;
    }
}

@media (max-width: 800px) {
    nav {
        grid-area: header;
        padding-right: 0;
    }
}
